span{
    color: white;
    font-size: 50px;
    text-decoration: none;
}

p{
    color:rgb(37, 37, 37);
}

/* #parrafo_introduccion{
    color: aqua;

} */
/* .parrafo_blanco{
    color: darkmagenta;
    
} */
h2{
    color: rgb(2, 2, 2);
}